@model EnviroSense.Web.ViewModels.Devices.DeviceViewModel

<div>
    <p>Device name: @Model.Name</p>
    <p>Id: @Model.Id</p>
    <p>Last update: @Model.UpdatedAt</p>
    <p>Created date: @Model.CreatedAt</p>
</div>
