@model List< EnviroSense.Web.ViewModels.Devices.DeviceViewModel>
@{
    ViewData["Title"] = "Device Page";
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Update Date</th>
            <th>Create Date</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model)
        {
            <tr>
                <td>@device.Id</td>
                <td>@device.Name</td>
                <td>@device.UpdatedAt</td>
                <td>@device.CreatedAt</td>
                
            </tr>
        }
    </tbody>
</table>
