@model EnviroSense.Web.ViewModels.ApiKeys.CreateDeviceApiKeyViewModel
@{
    ViewData["Title"] = "Add Device API Key";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" method="post" >
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label">DeviceName</label>
                        <input asp-for="Name"  type="text" class="form-control" placeholder="Enter name for this key" required/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Add API Key</button>
                </form>
            </div>
        </div>
    </div>
</div>