@model EnviroSense.Web.ViewModels.Accounts.SignInViewModel
@{
    var generalErrors = ViewData.ModelState[string.Empty]?.Errors;
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <form asp-action="SignIn" asp-controller="Accounts" method="post">
                @if (generalErrors != null && generalErrors.Count > 0)
                {
                    <div class="alert alert-danger">
                        @foreach (var error in generalErrors)
                        {
                            <span class="text-danger">@error.ErrorMessage</span>
                            <br/>
                        }
                    </div>
                }
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" minlength="8" class="form-control" required/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>

        </div>
        <div class="col-12 col-lg-6 text-center">
            Don't have an account? <a class="btn btn-primary" asp-action="SignUp">Sign up</a>.
        </div>
    </div>
</div>


