@model EnviroSense.Web.ViewModels.Devices.MeasurementViewModel
@{
}

<p>Measurements</p>
<form asp-action="AddMeasurements" asp-controller="Devices" method="post">
    <input type="hidden" asp-for="DeviceId" value="@ViewBag.DeviceId" required />

    <label asp-for="DeviceId">Temperature (°C):</label>
    <input type="number" asp-for="Temperature" id="temperature" min="-80" max="50" step="0.1" required />

    <label asp-for="Humidity">Humidity (%):</label>
    <input type="number" asp-for="Humidity" id="humidity" min="0" max="100" step="0.1" required />

    <label asp-for="RecordingDate">Recording Date:</label>
    <input type="datetime-local" asp-for="RecordingDate" id="recordingDate" required />

    <button type="submit">Add</button>
</form>