@model EnviroSense.Web.ViewModels.Accounts.SignInViewModel
@{
    var generalErrors = ViewData.ModelState[string.Empty]?.Errors;
}
<form asp-action="SignIn" asp-controller="Accounts" method="post">
    <label asp-for="Email">Email</label><br/>
    <input asp-for="Email" type="email" required/><br/>
    <label asp-for="Password">Password</label><br/>
    <input asp-for="Password" type="password" minlength="8" required/><br/>
    <button type="submit">LogIn</button><br/>
    @if (generalErrors != null && generalErrors.Count > 0)
    {
        foreach (var error in generalErrors)
        {
            <span class="text-danger">@error.ErrorMessage</span><br />
        }
    }

</form>



