@model EnviroSense.Web.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    Your access id is @Model.AccessId <br/>
    Totally, this page was accessed @Model.TotalAccesses times
</div>
